@keyframes leaf1anim {
	
	0% {
		
		transform: translateX(-50px) translateY(-10px);
		
	}
	
	20% {
		
		transform: translateX(50px) translateY(40px);
		
	}
	
	40% {
		
		transform: translateX(20px) translateY(80px);
		
	}
	
	60% {
		
		transform: translateX(60px) translateY(140px);
		
	}
	
	80% {
		
		transform: translateX(40px) translateY(240px);
		
	}
	
	100% {
		
		transform: translateX(10px) translateY(460px);
		
	}
	
}

@keyframes leaf2anim {
	
	0% {
		
		transform: translateX(80px) translateY(-400px);
		
	}
	
	20% {
		
		transform: translateX(100px) translateY(-350px);
		
	}
	
	40% {
		
		transform: translateX(70px) translateY(-250px);
		
	}
	
	60% {
		
		transform: translateX(110px) translateY(-150px);
		
	}
	
	80% {
		
		transform: translateX(150px) translateY(-50px);
		
	}
	
	100% {
		
		transform: translateX(200px) translateY(80px);
		
	}
	
}

@keyframes leaf3anim {
	
	0% {
		
		transform: translateX(100px) translateY(-400px);
		
	}
	
	20% {
		
		transform: translateX(80px) translateY(-330px);
		
	}
	
	40% {
		
		transform: translateX(90px) translateY(-280px);
		
	}
	
	60% {
		
		transform: translateX(60px) translateY(-190px);
		
	}
	
	80% {
		
		transform: translateX(100px) translateY(-50px);
		
	}
	
	100% {
		
		transform: translateX(50px) translateY(80px);
		
	}
	
}

@keyframes leaf4anim {
	
	0% {
		
		transform: translateX(70px) translateY(-460px);
		
	}
	
	20% {
		
		transform: translateX(90px) translateY(-380px);
		
	}
	
	40% {
		
		transform: translateX(40px) translateY(-280px);
		
	}
	
	60% {
		
		transform: translateX(100px) translateY(-150px);
		
	}
	
	80% {
		
		transform: translateX(30px) translateY(-50px);
		
	}
	
	100% {
		
		transform: translateX(50px) translateY(80px);
		
	}
	
}

@keyframes mobilepieanim {
	
	from {
		
		transform: translateX(-20px) translateY(300px);
		
	}
	
	to {
		
		transform: translateX(-20px) translateY(150px);
		
	}
	
}

#fall {
	
	width: 720px;
	height: 300px;
	background-color: orange;
	overflow: hidden;
	
}

#leaf1 {
	
	display: none;
	
}

#leaf2 {
	
	display: none;
	
}

#leaf3 {
	
	display: none;
	
}

#leaf4 {
	
	display: none;
	
}

#piemobile {
	
	display: none;
	
}

@media only screen and (max-width: 720px) {
    
	#fall {
		
		width: 240px;
		height: 400px;
		position: relative;
		background-image: url('images/cookbook.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		background-size: 100% 100%;
		z-index: -100;
		
	}
	
	#piemobile {
		
		display: block;
		width: 300px;
		height: 250px;
		position: relative;
		transform: translateX(-20px) translateY(300px);
		animation-name: mobilepieanim;
		animation-duration: 2s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
		z-index: -1;
		
	}
	
	#leaf1 {
		
		display: block;
		width: 50px;
		height: 50px;
		position: relative;
		transform: translateY(-60px);
		animation-name: leaf1anim;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		z-index: 1;
		
	}
	
	#leaf2 {
		
		display: block;
		width: 50px;
		height: 50px;
		position: relative;
		transform: translateY(-400px) translateX(80px);
		animation-name: leaf2anim;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		z-index: -2;
		
	}
	
	#leaf3 {
		
		display: block;
		width: 50px;
		height: 50px;
		transform: translateY(-400px) translateX(100px);
		animation-name: leaf3anim;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-delay: .8s;
		animation-iteration-count: infinite;
		
	}
	
	#leaf4 {
		
		display: block;
		width: 50px;
		height: 50px;
		position: relative;
		transform: translateY(-460px) translateX(70px);
		z-index: -2;
		animation-name: leaf4anim;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-delay: 1.2s;
		animation-iteration-count: infinite;
		
	}
	
}